
.idea/vcs.xml
.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/model-pruning.iml
.idea/other.xml
__pycache__/dataset.cpython-39.pyc
__pycache__/prune.cpython-39.pyc
__pycache__/finetune.cpython-39.pyc
